.table{
    background: #fff;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #004280;
}

.table tr{
    background: #fff;
}

.table tr:hover{
    background: #BDB1FF;
}

.stu-edit-profile{
    background: #fff;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid green;
    border-radius: 10px;
}